<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Manipulation</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Compare Files and Remove Matches</h1>
    <p>This application allows you to compare two files and remove lines from the first file that are found in the second file.</p>
    <p>To use the application, follow these steps:</p>
    <ol>
      <li>Select the files you want to compare.</li>
      <li>Select the separator used in the files (e.g., comma, tab, semicolon, colon, or line break).</li>
      <li>Click the "Compare" button to start the process.</li>
      <li>Once completed, click the link to download the resulting file.</li>
    </ol>
    {% if message %}
      <p class="{{msgIndicator}}">{{ message }}</p>
    {% endif %}
    <form action="/process" method="post" enctype="multipart/form-data">
      <label for="fileA">File A:</label>
      <input type="file" id="fileA" name="fileA" accept=".csv, .txt"><br><br>
      <label for="fileB">File B:</label>
      <input type="file" id="fileB" name="fileB" accept=".csv, .txt"><br><br>
      <label for="separator">Separator:</label>
      <select id="separator" name="separator">
        <option value="tab">Tabulation (\t)</option>
        <option value=",">Comma (,)</option>
        <option value=";">Semicolon (;)</option>
        <option value=":">Colon (:) </option>
        <option value="line">Line break</option>
              </select><br><br>
      <input type="submit" value="Compare">
    </form>
    <p>Note: The files must be in the same format and have the same structure for an accurate comparison.</p>
  </div>
</body>
</html>
